#include <zephyr/dt-bindings/pinctrl/esp32c6-pinctrl.h>

/ {
  chosen {
    zephyr,console    = &usb_serial;
    zephyr,shell-uart = &usb_serial;
  };
};

&usb_serial {
  status = "okay";
};

&pinctrl {
  i2c0_default: i2c0_default {
    group1 {
      pinmux = <I2C0_SDA_GPIO22>,
                     <I2C0_SCL_GPIO23>;
      bias-pull-up;
      drive-open-drain;
      output-high;
    };
  };
};

&i2c0 {
  status = "okay";
  clock-frequency = <I2C_BITRATE_STANDARD>;
  pinctrl-0 = <&i2c0_default>;
  pinctrl-names = "default";
};